#%RAML 0.8
title: Mail Chimp API
version: 2.0
baseUri: https://dc.api.mailchimp.com/2.0
securedBy: [oauth_2_0]
securitySchemes:
- oauth_2_0:
    description: |
            Dropbox supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 2.0
    describedBy:
      headers:
        Authorization:
          description: |
            Used to send a valid OAuth 2 access token. Do not use
            with the "access_token" query string parameter.
          type: string
      queryParameters:
        access_token:
          description: |
            Used to send a valid OAuth 2 access token. Do not use together with
            the "Authorization" header
          type: string
      responses:
        401:
          description: |
            Bad or expired token. This can happen if the user or Dropbox
            revoked or expired an access token. To fix, you should re-
            authenticate the user.
        403:
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            imestamp...). Unfortunately, re-authenticating the user won't help here.
    settings:
      authorizationUri: https://login.mailchimp.com/oauth2/authorize
      accessTokenUri: hhttps://login.mailchimp.com/oauth2/token
/campaigns:
  /content.json:
    post:
      description: <<Get the content (both html and text) for a campaign either as it would appear in the campaign archive or as the raw, original content.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string",
                  "required" : "true"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string",
                  "required" : "true"
                },
                "options": {
                  "id": "http://jsonschema.net/options",
                  "type": "object",
                  "required" : "false",
                  "properties": {
                    "view": {
                      "id": "http://jsonschema.net/options/view",
                      "type": "string"
                    },
                    "email": {
                      "id": "http://jsonschema.net/options/email",
                      "type": "object",
                      "properties": {
                        "email": {
                          "id": "http://jsonschema.net/options/email/email",
                          "type": "string"
                        },
                        "euid": {
                          "id": "http://jsonschema.net/options/email/euid",
                          "type": "string"
                        },
                        "leid": {
                          "id": "http://jsonschema.net/options/email/leid",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          example: |
            {
              "apikey": "example apikey",
              "cid": "example cid",
              "options": {
                  "view": "example view",
                  "email": {
                      "email": "example email",
                      "euid": "example euid",
                      "leid": "example leid"
                  }
              }
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "html": "example html",
                  "text": "example text"
                }
  /create.json:
    post:
      description: <<Create a new draft campaign to send. You can not have more than 32,000 campaigns in your account.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string",
                  "required" : "true"
                },
                "type": {
                  "id": "http://jsonschema.net/type",
                  "type": "string",
                  "required" : "true"
                },
                "options": {
                  "id": "http://jsonschema.net/options",
                  "type": "object",
                  "required" : "true",
                  "properties": {
                    "list_id": {
                      "id": "http://jsonschema.net/options/list_id",
                      "type": "string",
                      "required" : "true"
                    },
                    "subject": {
                      "id": "http://jsonschema.net/options/subject",
                      "type": "string",
                      "required" : "true"
                    },
                    "from_email": {
                      "id": "http://jsonschema.net/options/from_email",
                      "type": "string",
                      "required" : "true"
                    },
                    "from_name": {
                      "id": "http://jsonschema.net/options/from_name",
                      "type": "string",
                      "required" : "true"
                    },
                    "to_name": {
                      "id": "http://jsonschema.net/options/to_name",
                      "type": "string",
                      "required" : "true"
                    },
                    "template_id": {
                      "id": "http://jsonschema.net/options/template_id",
                      "type": "integer"
                    },
                    "gallery_template_id": {
                      "id": "http://jsonschema.net/options/gallery_template_id",
                      "type": "integer"
                    },
                    "base_template_id": {
                      "id": "http://jsonschema.net/options/base_template_id",
                      "type": "integer"
                    },
                    "folder_id": {
                      "id": "http://jsonschema.net/options/folder_id",
                      "type": "integer"
                    },
                    "tracking": {
                      "id": "http://jsonschema.net/options/tracking",
                      "type": "object",
                      "properties": {
                        "opens": {
                          "id": "http://jsonschema.net/options/tracking/opens",
                          "type": "boolean"
                        },
                        "html_clicks": {
                          "id": "http://jsonschema.net/options/tracking/html_clicks",
                          "type": "boolean"
                        },
                        "text_clicks": {
                          "id": "http://jsonschema.net/options/tracking/text_clicks",
                          "type": "boolean"
                        }
                      }
                    },
                    "title": {
                      "id": "http://jsonschema.net/options/title",
                      "type": "string"
                    },
                    "authenticate": {
                      "id": "http://jsonschema.net/options/authenticate",
                      "type": "boolean"
                    },
                    "analytics": {
                      "id": "http://jsonschema.net/options/analytics",
                      "type": "object",
                      "properties": {
                        "google": {
                          "id": "http://jsonschema.net/options/analytics/google",
                          "type": "string"
                        },
                        "clicktale": {
                          "id": "http://jsonschema.net/options/analytics/clicktale",
                          "type": "string"
                        },
                        "gooal": {
                          "id": "http://jsonschema.net/options/analytics/gooal",
                          "type": "string"
                        }
                      }
                    },
                    "auto_footer": {
                      "id": "http://jsonschema.net/options/auto_footer",
                      "type": "boolean"
                    },
                    "inline_css": {
                      "id": "http://jsonschema.net/options/inline_css",
                      "type": "boolean"
                    },
                    "generate_text": {
                      "id": "http://jsonschema.net/options/generate_text",
                      "type": "boolean"
                    },
                    "auto_tweet": {
                      "id": "http://jsonschema.net/options/auto_tweet",
                      "type": "boolean"
                    },
                    "auto_fb_post": {
                      "id": "http://jsonschema.net/options/auto_fb_post",
                      "type": "array",
                      "items": {
                        "id": "http://jsonschema.net/options/auto_fb_post/0",
                        "type": "string"
                      }
                    },
                    "fb_comments": {
                      "id": "http://jsonschema.net/options/fb_comments",
                      "type": "boolean"
                    },
                    "timewarp": {
                      "id": "http://jsonschema.net/options/timewarp",
                      "type": "boolean"
                    },
                    "ecomm360": {
                      "id": "http://jsonschema.net/options/ecomm360",
                      "type": "boolean"
                    },
                    "crm_tracking": {
                      "id": "http://jsonschema.net/options/crm_tracking",
                      "type": "object",
                      "properties": {
                        "salesforce": {
                          "id": "http://jsonschema.net/options/crm_tracking/salesforce",
                          "type": "object",
                          "properties": {
                            "campaign": {
                              "id": "http://jsonschema.net/options/crm_tracking/salesforce/campaign",
                              "type": "boolean"
                            },
                            "notes": {
                              "id": "http://jsonschema.net/options/crm_tracking/salesforce/notes",
                              "type": "boolean"
                            }
                          }
                        },
                        "highrise": {
                          "id": "http://jsonschema.net/options/crm_tracking/highrise",
                          "type": "object",
                          "properties": {
                            "campaign": {
                              "id": "http://jsonschema.net/options/crm_tracking/highrise/campaign",
                              "type": "boolean"
                            },
                            "notes": {
                              "id": "http://jsonschema.net/options/crm_tracking/highrise/notes",
                              "type": "boolean"
                            }
                          }
                        },
                        "capsule": {
                          "id": "http://jsonschema.net/options/crm_tracking/capsule",
                          "type": "object",
                          "properties": {
                            "notes": {
                              "id": "http://jsonschema.net/options/crm_tracking/capsule/notes",
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "content": {
                  "id": "http://jsonschema.net/content",
                  "type": "object",
                  "required" : "true",
                  "properties": {
                    "html": {
                      "id": "http://jsonschema.net/content/html",
                      "type": "string",
                      "required" : "true"
                    },
                    "sections": {
                      "id": "http://jsonschema.net/content/sections",
                      "type": "object",
                      "required" : "true",
                      "properties": {
                        "...": {
                          "id": "http://jsonschema.net/content/sections/...",
                          "type": "string"
                        }
                      }
                    },
                    "text": {
                      "id": "http://jsonschema.net/content/text",
                      "type": "string",
                      "required" : "true"
                    },
                    "url": {
                      "id": "http://jsonschema.net/content/url",
                      "type": "string",
                      "required" : "true"
                    },
                    "archive": {
                      "id": "http://jsonschema.net/content/archive",
                      "type": "string",
                      "required" : "true"
                    },
                    "archive_type": {
                      "id": "http://jsonschema.net/content/archive_type",
                      "type": "string"
                    }
                  }
                },
                "segment_opts": {
                  "id": "http://jsonschema.net/segment_opts",
                  "type": "object",
                  "properties": {
                    "...": {
                      "id": "http://jsonschema.net/segment_opts/...",
                      "type": "string"
                    }
                  }
                },
                "type_opts": {
                  "id": "http://jsonschema.net/type_opts",
                  "type": "object",
                  "properties": {
                    "rss": {
                      "id": "http://jsonschema.net/type_opts/rss",
                      "type": "object",
                      "properties": {
                        "url": {
                          "id": "http://jsonschema.net/type_opts/rss/url",
                          "type": "string"
                        },
                        "schedule": {
                          "id": "http://jsonschema.net/type_opts/rss/schedule",
                          "type": "string"
                        },
                        "schedule_hour": {
                          "id": "http://jsonschema.net/type_opts/rss/schedule_hour",
                          "type": "string"
                        },
                        "schedule_weekday": {
                          "id": "http://jsonschema.net/type_opts/rss/schedule_weekday",
                          "type": "string"
                        },
                        "schedule_monthday": {
                          "id": "http://jsonschema.net/type_opts/rss/schedule_monthday",
                          "type": "string"
                        },
                        "days": {
                          "id": "http://jsonschema.net/type_opts/rss/days",
                          "type": "object",
                          "properties": {
                            "1": {
                              "id": "http://jsonschema.net/type_opts/rss/days/1",
                              "type": "boolean"
                            },
                            "2": {
                              "id": "http://jsonschema.net/type_opts/rss/days/2",
                              "type": "boolean"
                            },
                            "3": {
                              "id": "http://jsonschema.net/type_opts/rss/days/3",
                              "type": "boolean"
                            },
                            "4": {
                              "id": "http://jsonschema.net/type_opts/rss/days/4",
                              "type": "boolean"
                            },
                            "5": {
                              "id": "http://jsonschema.net/type_opts/rss/days/5",
                              "type": "boolean"
                            },
                            "6": {
                              "id": "http://jsonschema.net/type_opts/rss/days/6",
                              "type": "boolean"
                            },
                            "7": {
                              "id": "http://jsonschema.net/type_opts/rss/days/7",
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "absplit": {
                      "id": "http://jsonschema.net/type_opts/absplit",
                      "type": "object",
                      "properties": {
                        "split_test": {
                          "id": "http://jsonschema.net/type_opts/absplit/split_test",
                          "type": "string"
                        },
                        "pick_winner": {
                          "id": "http://jsonschema.net/type_opts/absplit/pick_winner",
                          "type": "string"
                        },
                        "wait_units": {
                          "id": "http://jsonschema.net/type_opts/absplit/wait_units",
                          "type": "integer"
                        },
                        "wait_time": {
                          "id": "http://jsonschema.net/type_opts/absplit/wait_time",
                          "type": "integer"
                        },
                        "split_size": {
                          "id": "http://jsonschema.net/type_opts/absplit/split_size",
                          "type": "integer"
                        },
                        "from_name_a": {
                          "id": "http://jsonschema.net/type_opts/absplit/from_name_a",
                          "type": "string"
                        },
                        "from_name_b": {
                          "id": "http://jsonschema.net/type_opts/absplit/from_name_b",
                          "type": "string"
                        },
                        "from_email_a": {
                          "id": "http://jsonschema.net/type_opts/absplit/from_email_a",
                          "type": "string"
                        },
                        "from_email_b": {
                          "id": "http://jsonschema.net/type_opts/absplit/from_email_b",
                          "type": "string"
                        },
                        "subject_a": {
                          "id": "http://jsonschema.net/type_opts/absplit/subject_a",
                          "type": "string"
                        },
                        "subject_b": {
                          "id": "http://jsonschema.net/type_opts/absplit/subject_b",
                          "type": "string"
                        }
                      }
                    },
                    "auto": {
                      "id": "http://jsonschema.net/type_opts/auto",
                      "type": "object",
                      "properties": {
                        "offset-units": {
                          "id": "http://jsonschema.net/type_opts/auto/offset-units",
                          "type": "string"
                        },
                        "offset-time": {
                          "id": "http://jsonschema.net/type_opts/auto/offset-time",
                          "type": "string"
                        },
                        "offset-dir": {
                          "id": "http://jsonschema.net/type_opts/auto/offset-dir",
                          "type": "string"
                        },
                        "event": {
                          "id": "http://jsonschema.net/type_opts/auto/event",
                          "type": "string"
                        },
                        "event-datemerge": {
                          "id": "http://jsonschema.net/type_opts/auto/event-datemerge",
                          "type": "string"
                        },
                        "campaign_id": {
                          "id": "http://jsonschema.net/type_opts/auto/campaign_id",
                          "type": "string"
                        },
                        "campaign_url": {
                          "id": "http://jsonschema.net/type_opts/auto/campaign_url",
                          "type": "string"
                        },
                        "schedule_hour": {
                          "id": "http://jsonschema.net/type_opts/auto/schedule_hour",
                          "type": "integer"
                        },
                        "use_import_time": {
                          "id": "http://jsonschema.net/type_opts/auto/use_import_time",
                          "type": "boolean"
                        },
                        "days": {
                          "id": "http://jsonschema.net/type_opts/auto/days",
                          "type": "object",
                          "properties": {
                            "1": {
                              "id": "http://jsonschema.net/type_opts/auto/days/1",
                              "type": "boolean"
                            },
                            "2": {
                              "id": "http://jsonschema.net/type_opts/auto/days/2",
                              "type": "boolean"
                            },
                            "3": {
                              "id": "http://jsonschema.net/type_opts/auto/days/3",
                              "type": "boolean"
                            },
                            "4": {
                              "id": "http://jsonschema.net/type_opts/auto/days/4",
                              "type": "boolean"
                            },
                            "5": {
                              "id": "http://jsonschema.net/type_opts/auto/days/5",
                              "type": "boolean"
                            },
                            "6": {
                              "id": "http://jsonschema.net/type_opts/auto/days/6",
                              "type": "boolean"
                            },
                            "7": {
                              "id": "http://jsonschema.net/type_opts/auto/days/7",
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          example: |
            {
              "apikey": "example apikey",
              "type": "example type",
              "options": {
                "list_id": "example list_id",
                "subject": "example subject",
                "from_email": "example from_email",
                "from_name": "example from_name",
                "to_name": "example to_name",
                "template_id": 42,
                "gallery_template_id": 42,
                "base_template_id": 42,
                "folder_id": 42,
                "tracking": {
                  "opens": true,
                  "html_clicks": true,
                  "text_clicks": true
                },
                "title": "example title",
                "authenticate": true,
                "analytics": {
                  "google": "example google",
                  "clicktale": "example clicktale",
                  "gooal": "example gooal"
                },
                "auto_footer": true,
                "inline_css": true,
                "generate_text": true,
                "auto_tweet": true,
                "auto_fb_post": [
                  "..."
                ],
                "fb_comments": true,
                "timewarp": true,
                "ecomm360": true,
                "crm_tracking": {
                  "salesforce": {
                    "campaign": true,
                    "notes": true
                  },
                  "highrise": {
                    "campaign": true,
                    "notes": true
                  },
                  "capsule": {
                    "notes": true
                  }
                }
              },
              "content": {
                "html": "example html",
                "sections": {
                  "...": "..."
                },
                "text": "example text",
                "url": "example url",
                "archive": "example archive",
                "archive_type": "example archive_type"
              },
              "segment_opts": {
                "...": "..."
              },
              "type_opts": {
                "rss": {
                  "url": "example url",
                  "schedule": "example schedule",
                  "schedule_hour": "example schedule_hour",
                  "schedule_weekday": "example schedule_weekday",
                  "schedule_monthday": "example schedule_monthday",
                  "days": {
                    "1": true,
                    "2": true,
                    "3": true,
                    "4": true,
                    "5": true,
                    "6": true,
                    "7": true
                  }
                },
                "absplit": {
                  "split_test": "example split_test",
                  "pick_winner": "example pick_winner",
                  "wait_units": 42,
                  "wait_time": 42,
                  "split_size": 42,
                  "from_name_a": "example from_name_a",
                  "from_name_b": "example from_name_b",
                  "from_email_a": "example from_email_a",
                  "from_email_b": "example from_email_b",
                  "subject_a": "example subject_a",
                  "subject_b": "example subject_b"
                },
                "auto": {
                  "offset-units": "example offset-units",
                  "offset-time": "example offset-time",
                  "offset-dir": "example offset-dir",
                  "event": "example event",
                  "event-datemerge": "example event-datemerge",
                  "campaign_id": "example campaign_id",
                  "campaign_url": "example campaign_url",
                  "schedule_hour": 42,
                  "use_import_time": true,
                  "days": {
                    "1": true,
                    "2": true,
                    "3": true,
                    "4": true,
                    "5": true,
                    "6": true,
                    "7": true
                  }
                }
              }
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                    "...": "..."
                }
  /delete.json:
    post:
      description: <<Delete a campaign. Seriously, "poof, gone!" - be careful! Seriously, no one can undelete these.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid"
              ]
            }
          example: |
            {
                "apikey": "example apikey",
                "cid": "example cid"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                    "complete": true
                }
  /list.json:
    post:
      description: <<Get the list of campaigns and their details matching the specified filters>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "filters": {
                  "id": "http://jsonschema.net/filters",
                  "type": "object",
                  "properties": {
                    "campaign_id": {
                      "id": "http://jsonschema.net/filters/campaign_id",
                      "type": "string"
                    },
                    "parent_id": {
                      "id": "http://jsonschema.net/filters/parent_id",
                      "type": "string"
                    },
                    "list_id": {
                      "id": "http://jsonschema.net/filters/list_id",
                      "type": "string"
                    },
                    "folder_id": {
                      "id": "http://jsonschema.net/filters/folder_id",
                      "type": "integer"
                    },
                    "template_id": {
                      "id": "http://jsonschema.net/filters/template_id",
                      "type": "integer"
                    },
                    "status": {
                      "id": "http://jsonschema.net/filters/status",
                      "type": "string"
                    },
                    "type": {
                      "id": "http://jsonschema.net/filters/type",
                      "type": "string"
                    },
                    "from_name": {
                      "id": "http://jsonschema.net/filters/from_name",
                      "type": "string"
                    },
                    "from_email": {
                      "id": "http://jsonschema.net/filters/from_email",
                      "type": "string"
                    },
                    "title": {
                      "id": "http://jsonschema.net/filters/title",
                      "type": "string"
                    },
                    "subject": {
                      "id": "http://jsonschema.net/filters/subject",
                      "type": "string"
                    },
                    "sendtime_start": {
                      "id": "http://jsonschema.net/filters/sendtime_start",
                      "type": "string"
                    },
                    "sendtime_end": {
                      "id": "http://jsonschema.net/filters/sendtime_end",
                      "type": "string"
                    },
                    "uses_segment": {
                      "id": "http://jsonschema.net/filters/uses_segment",
                      "type": "boolean"
                    },
                    "exact": {
                      "id": "http://jsonschema.net/filters/exact",
                      "type": "boolean"
                    }
                  }
                },
                "start": {
                  "id": "http://jsonschema.net/start",
                  "type": "integer"
                },
                "limit": {
                  "id": "http://jsonschema.net/limit",
                  "type": "integer"
                },
                "sort_field": {
                  "id": "http://jsonschema.net/sort_field",
                  "type": "string"
                },
                "sort_dir": {
                  "id": "http://jsonschema.net/sort_dir",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "filters",
                "start",
                "limit",
                "sort_field",
                "sort_dir"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "filters": {
                "campaign_id": "example campaign_id",
                "parent_id": "example parent_id",
                "list_id": "example list_id",
                "folder_id": 42,
                "template_id": 42,
                "status": "example status",
                "type": "example type",
                "from_name": "example from_name",
                "from_email": "example from_email",
                "title": "example title",
                "subject": "example subject",
                "sendtime_start": "example sendtime_start",
                "sendtime_end": "example sendtime_end",
                "uses_segment": true,
                "exact": true
              },
              "start": 42,
              "limit": 42,
              "sort_field": "example sort_field",
              "sort_dir": "example sort_dir"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "total": 42,
                  "data": [
                      {
                          "id": "example id",
                          "web_id": 42,
                          "list_id": "example list_id",
                          "folder_id": 42,
                          "template_id": 42,
                          "content_type": "example content_type",
                          "title": "example title",
                          "type": "example type",
                          "create_time": "example create_time",
                          "send_time": "example send_time",
                          "emails_sent": 42,
                          "status": "example status",
                          "from_name": "example from_name",
                          "from_email": "example from_email",
                          "subject": "example subject",
                          "to_name": "example to_name",
                          "archive_url": "example archive_url",
                          "inline_css": true,
                          "analytics": "example analytics",
                          "analytics_tag": "example analytics_tag",
                          "authenticate": true,
                          "ecomm360": true,
                          "auto_tweet": true,
                          "auto_fb_post": "example auto_fb_post",
                          "auto_footer": true,
                          "timewarp": true,
                          "timewarp_schedule": "example timewarp_schedule",
                          "parent_id": "example parent_id",
                          "is_child": true,
                          "tests_sent": "example tests_sent",
                          "tests_remain": 42,
                          "tracking": {
                              "html_clicks": true,
                              "text_clicks": true,
                              "opens": true
                          },
                          "segment_text": "example segment_text",
                          "segment_opts": [
                              "..."
                          ],
                          "saved_segment": {
                              "id": 42,
                              "type": "example type",
                              "name": "example name"
                          },
                          "type_opts": {
                              "...": "..."
                          },
                          "comments_total": 42,
                          "comments_unread": 42,
                          "summary": {
                              "...": "..."
                          },
                          "social_card": {
                              "title": "example title",
                              "description": "example description",
                              "image_url": "example image_url",
                              "enabled": "example enabled"
                          }
                      }
                  ],
                  "errors": [
                      {
                          "filter": "example filter",
                          "value": "example value",
                          "code": 42,
                          "error": "example error"
                      }
                  ]
                }
  /pause.json:
    post:
      description: <<Pause an AutoResponder or RSS campaign from sending>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid"
              ]
            }
          example: |
            {
                "apikey": "example apikey",
                "cid": "example cid"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                    "complete": true
                }
  /ready.json:
    post:
      description: <<Returns information on whether a campaign is ready to send and possible issues we may have detected with it - very similar to the confirmation step in the app.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid"
              ]
            }
          example: |
            {
                "apikey": "example apikey",
                "cid": "example cid"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "is_ready": true,
                  "items": [
                      {
                          "type": "example type",
                          "heading": "example heading",
                          "details": "example details"
                      }
                  ]
                }
  /replicate.json:
    post:
      description: <<Replicate a campaign.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid"
              ]
            }
          example: |
            {
                "apikey": "example apikey",
                "cid": "example cid"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "...": "..."
                }
  /resume.json:
    post:
      description: <<Resume sending an AutoResponder or RSS campaign>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid"
              ]
            }
          example: |
            {
                "apikey": "example apikey",
                "cid": "example cid"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /schedule-batch.json:
    post:
      description: <<Schedule a campaign to be sent in batches sometime in the future. Only valid for "regular" campaigns>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                },
                "schedule_time": {
                  "id": "http://jsonschema.net/schedule_time",
                  "type": "string"
                },
                "num_batches": {
                  "id": "http://jsonschema.net/num_batches",
                  "type": "integer"
                },
                "stagger_mins": {
                  "id": "http://jsonschema.net/stagger_mins",
                  "type": "integer"
                }
              },
              "required": [
                "apikey",
                "cid",
                "schedule_time",
                "num_batches",
                "stagger_mins"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "cid": "example cid",
              "schedule_time": "example schedule_time",
              "num_batches": 42,
              "stagger_mins": 42
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /schedule.json:
    post:
      description: <<Schedule a campaign to be sent in the future>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                },
                "schedule_time": {
                  "id": "http://jsonschema.net/schedule_time",
                  "type": "string"
                },
                "schedule_time_b": {
                  "id": "http://jsonschema.net/schedule_time_b",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid",
                "schedule_time",
                "schedule_time_b"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "cid": "example cid",
              "schedule_time": "example schedule_time",
              "schedule_time_b": "example schedule_time_b"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /segment-test.json:
    post:
      description: <<Allows one to test their segmentation rules before creating a campaign using them.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "list_id": {
                  "id": "http://jsonschema.net/list_id",
                  "type": "string"
                },
                "options": {
                  "id": "http://jsonschema.net/options",
                  "type": "object",
                  "properties": {
                    "saved_segment_id": {
                      "id": "http://jsonschema.net/options/saved_segment_id",
                      "type": "string"
                    },
                    "match": {
                      "id": "http://jsonschema.net/options/match",
                      "type": "string"
                    },
                    "conditions": {
                      "id": "http://jsonschema.net/options/conditions",
                      "type": "array",
                      "items": {
                        "id": "http://jsonschema.net/options/conditions/0",
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "required": [
                "apikey",
                "list_id",
                "options"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "list_id": "example list_id",
              "options": {
                  "saved_segment_id": "example saved_segment_id",
                  "match": "example match",
                  "conditions": [
                      "..."
                  ]
              }
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "total": 42
                }
  /send.json:
    post:
      description: <<Send a given campaign immediately. For RSS campaigns, this will "start" them.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "cid": "example cid"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /send-test.json:
    post:
      description: <<Send a test of this campaign to the provided email addresses>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                },
                "test_emails": {
                  "id": "http://jsonschema.net/test_emails",
                  "type": "array",
                  "items": {
                    "id": "http://jsonschema.net/test_emails/0",
                    "type": "string"
                  }
                },
                "send_type": {
                  "id": "http://jsonschema.net/send_type",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid",
                "test_emails",
                "send_type"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "cid": "example cid",
              "test_emails": [
                  "..."
              ],
              "send_type": "example send_type"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /template-content.json:
    post:
      description: <<Get the HTML template content sections for a campaign. Note that this will return very jagged, non-standard results based on the template a campaign is using. You only want to use this if you want to allow editing template sections in your application.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "cid": "example cid"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "...": "..."
                }
  /unschedule.json:
    post:
      description: <<Unschedule a campaign that is scheduled to be sent in the future>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "cid": "example cid"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /update.json:
    post:
      description: <<Update just about any setting besides type for a campaign that has not been sent. See campaigns/create() for details. Caveats:-
  
        If you set a new list_id, all segmentation options will be deleted and must be re-added.
        If you set template_id, you need to follow that up by setting it's 'content'
        If you set segment_opts, you should have tested your options against campaigns/segment-test().
        To clear/unset segment_opts, pass an empty string or array as the value. Various wrappers may require one or the other.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                },
                "name": {
                  "id": "http://jsonschema.net/name",
                  "type": "string"
                },
                "value": {
                  "id": "http://jsonschema.net/value",
                  "type": "array",
                  "items": {
                    "id": "http://jsonschema.net/value/0",
                    "type": "string"
                  }
                }
              },
              "required": [
                "apikey",
                "cid",
                "name",
                "value"
              ]
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "data": {
                      "...": "..."
                  },
                  "errors": [
                      {
                          "code": 42,
                          "message": "example message",
                          "name": "example name"
                      }
                  ]
                }
/ecomm:
  /order-add.json:
    post:
      description: <<Import Ecommerce Order Information to be used for Segmentation. This will generally be used by ecommerce package plugins provided by us or by 3rd part system developers:- http://connect.mailchimp.com/category/ecommerce>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "order": {
                  "id": "http://jsonschema.net/order",
                  "type": "object",
                  "properties": {
                    "id": {
                      "id": "http://jsonschema.net/order/id",
                      "type": "string"
                    },
                    "campaign_id": {
                      "id": "http://jsonschema.net/order/campaign_id",
                      "type": "string"
                    },
                    "email_id": {
                      "id": "http://jsonschema.net/order/email_id",
                      "type": "string"
                    },
                    "email": {
                      "id": "http://jsonschema.net/order/email",
                      "type": "string"
                    },
                    "total": {
                      "id": "http://jsonschema.net/order/total",
                      "type": "number"
                    },
                    "order_date": {
                      "id": "http://jsonschema.net/order/order_date",
                      "type": "string"
                    },
                    "shipping": {
                      "id": "http://jsonschema.net/order/shipping",
                      "type": "number"
                    },
                    "tax": {
                      "id": "http://jsonschema.net/order/tax",
                      "type": "number"
                    },
                    "store_id": {
                      "id": "http://jsonschema.net/order/store_id",
                      "type": "string"
                    },
                    "store_name": {
                      "id": "http://jsonschema.net/order/store_name",
                      "type": "string"
                    },
                    "items": {
                      "id": "http://jsonschema.net/order/items",
                      "type": "array",
                      "items": {
                        "id": "http://jsonschema.net/order/items/0",
                        "type": "object",
                        "properties": {
                          "line_num": {
                            "id": "http://jsonschema.net/order/items/0/line_num",
                            "type": "integer"
                          },
                          "product_id": {
                            "id": "http://jsonschema.net/order/items/0/product_id",
                            "type": "integer"
                          },
                          "sku": {
                            "id": "http://jsonschema.net/order/items/0/sku",
                            "type": "string"
                          },
                          "product_name": {
                            "id": "http://jsonschema.net/order/items/0/product_name",
                            "type": "string"
                          },
                          "category_id": {
                            "id": "http://jsonschema.net/order/items/0/category_id",
                            "type": "integer"
                          },
                          "category_name": {
                            "id": "http://jsonschema.net/order/items/0/category_name",
                            "type": "string"
                          },
                          "qty": {
                            "id": "http://jsonschema.net/order/items/0/qty",
                            "type": "number"
                          },
                          "cost": {
                            "id": "http://jsonschema.net/order/items/0/cost",
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "apikey",
                "order"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "order": {
                  "id": "example id",
                  "campaign_id": "example campaign_id",
                  "email_id": "example email_id",
                  "email": "example email",
                  "total": 3.14159,
                  "order_date": "example order_date",
                  "shipping": 3.14159,
                  "tax": 3.14159,
                  "store_id": "example store_id",
                  "store_name": "example store_name",
                  "items": [
                      {
                          "line_num": 42,
                          "product_id": 42,
                          "sku": "example sku",
                          "product_name": "example product_name",
                          "category_id": 42,
                          "category_name": "example category_name",
                          "qty": 3.14159,
                          "cost": 3.14159
                      }
                  ]
              }
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /order-del.json:
    post:
      description: <<Delete Ecommerce Order Information used for segmentation. This will generally be used by ecommerce package plugins provided by us or by 3rd part system developers:- http://connect.mailchimp.com/category/ecommerce>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "store_id": {
                  "id": "http://jsonschema.net/store_id",
                  "type": "string"
                },
                "order_id": {
                  "id": "http://jsonschema.net/order_id",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "store_id",
                "order_id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "store_id": "example store_id",
              "order_id": "example order_id"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /orders.json:
    post:
      description: <<Retrieve the Ecommerce Orders for an account>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "cid": {
                  "id": "http://jsonschema.net/cid",
                  "type": "string"
                },
                "start": {
                  "id": "http://jsonschema.net/start",
                  "type": "integer"
                },
                "limit": {
                  "id": "http://jsonschema.net/limit",
                  "type": "integer"
                },
                "since": {
                  "id": "http://jsonschema.net/since",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "cid",
                "start",
                "limit",
                "since"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "cid": "example cid",
              "start": 42,
              "limit": 42,
              "since": "example since"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "total": 42,
                  "data": [
                      {
                          "store_id": "example store_id",
                          "store_name": "example store_name",
                          "order_id": "example order_id",
                          "email": "example email",
                          "order_total": 3.14159,
                          "tax_total": 3.14159,
                          "ship_total": 3.14159,
                          "order_date": "example order_date",
                          "items": [
                              {
                                  "line_num": 42,
                                  "product_id": 42,
                                  "product_name": "example product_name",
                                  "product_sku": "example product_sku",
                                  "product_category_id": 42,
                                  "product_category_name": "example product_category_name",
                                  "qty": 42,
                                  "cost": 3.14159
                              }
                          ]
                      }
                  ]
                }
/folders:
  /add.json:
    post:
      description: <<Add a new folder to file campaigns, autoresponders, or templates in>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "name": {
                  "id": "http://jsonschema.net/name",
                  "type": "string"
                },
                "type": {
                  "id": "http://jsonschema.net/type",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "name",
                "type"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "name": "example name",
              "type": "example type"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "folder_id": 42
                }
  /del.json:
    post:
      description: <<Delete a campaign, autoresponder, or template folder. Note that this will simply make whatever was in the folder appear unfiled, no other data is removed>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "fid": {
                  "id": "http://jsonschema.net/fid",
                  "type": "integer"
                },
                "type": {
                  "id": "http://jsonschema.net/type",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "fid",
                "type"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "fid": 42,
              "type": "example type"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /list.json:
    post:
      description: <<List all the folders of a certain type>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "type": {
                  "id": "http://jsonschema.net/type",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "type"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "type": "example type"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                [
                  {
                      "folder_id": 42,
                      "name": "example name",
                      "date_created": "example date_created",
                      "type": "example type",
                      "cnt": 42
                  }
                ]
  /update.json:
    post:
      description: <<Update the name of a folder for campaigns, autoresponders, or templates>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "fid": {
                  "id": "http://jsonschema.net/fid",
                  "type": "integer"
                },
                "name": {
                  "id": "http://jsonschema.net/name",
                  "type": "string"
                },
                "type": {
                  "id": "http://jsonschema.net/type",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "fid",
                "name",
                "type"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "fid": 42,
              "name": "example name",
              "type": "example type"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
/gallery:
  /add-file-to-folder.json:
    post:
      description: <<Add a file to a folder>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "file_id": {
                  "id": "http://jsonschema.net/file_id",
                  "type": "integer"
                },
                "folder_id": {
                  "id": "http://jsonschema.net/folder_id",
                  "type": "integer"
                }
              },
              "required": [
                "apikey",
                "file_id",
                "folder_id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "file_id": 42,
              "folder_id": 42
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                true
  /add-folder.json:
    post:
      description: <<Adds a folder to the file gallery>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "name": {
                  "id": "http://jsonschema.net/name",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "name"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "name": "example name"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "data.id": 42
                }
  /list.json:
    post:
      description: <<Return a section of the image gallery>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "opts": {
                  "id": "http://jsonschema.net/opts",
                  "type": "object",
                  "properties": {
                    "type": {
                      "id": "http://jsonschema.net/opts/type",
                      "type": "string"
                    },
                    "start": {
                      "id": "http://jsonschema.net/opts/start",
                      "type": "integer"
                    },
                    "limit": {
                      "id": "http://jsonschema.net/opts/limit",
                      "type": "integer"
                    },
                    "sort_by": {
                      "id": "http://jsonschema.net/opts/sort_by",
                      "type": "string"
                    },
                    "sort_dir": {
                      "id": "http://jsonschema.net/opts/sort_dir",
                      "type": "string"
                    },
                    "search_term": {
                      "id": "http://jsonschema.net/opts/search_term",
                      "type": "string"
                    },
                    "folder_id": {
                      "id": "http://jsonschema.net/opts/folder_id",
                      "type": "integer"
                    }
                  }
                }
              },
              "required": [
                "apikey",
                "opts"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "opts": {
                  "type": "example type",
                  "start": 42,
                  "limit": 42,
                  "sort_by": "example sort_by",
                  "sort_dir": "example sort_dir",
                  "search_term": "example search_term",
                  "folder_id": 42
              }
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "total": 42,
                  "data": [
                      {
                          "id": 42,
                          "name": "example name",
                          "time": "example time",
                          "size": 42,
                          "full": "example full",
                          "thumb": "example thumb"
                      }
                  ]
                }
  /list-folders.json:
    post:
      description: <<Return a list of the folders available to the file gallery>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "opts": {
                  "id": "http://jsonschema.net/opts",
                  "type": "object",
                  "properties": {
                    "start": {
                      "id": "http://jsonschema.net/opts/start",
                      "type": "integer"
                    },
                    "limit": {
                      "id": "http://jsonschema.net/opts/limit",
                      "type": "integer"
                    },
                    "search_term": {
                      "id": "http://jsonschema.net/opts/search_term",
                      "type": "string"
                    }
                  }
                }
              },
              "required": [
                "apikey",
                "opts"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "opts": {
                  "start": 42,
                  "limit": 42,
                  "search_term": "example search_term"
              }
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "total": 42,
                  "data": [
                      {
                          "id": 42,
                          "name": "example name",
                          "file_count": 42
                      }
                  ]
                }
  /remove-all-files-from-folder.json:
    post:
      description: <<Remove all files from a folder (Note that the files are not deleted, they are only removed from the folder)>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "folder_id": {
                  "id": "http://jsonschema.net/folder_id",
                  "type": "integer"
                }
              },
              "required": [
                "apikey",
                "folder_id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "folder_id": 42
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                true
  /remove-file-from-folder.json:
    post:
      description: <<Remove a file from a folder>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "file_id": {
                  "id": "http://jsonschema.net/file_id",
                  "type": "integer"
                },
                "folder_id": {
                  "id": "http://jsonschema.net/folder_id",
                  "type": "integer"
                }
              },
              "required": [
                "apikey",
                "file_id",
                "folder_id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "file_id": 42,
              "folder_id": 42
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                true
  /remove-folder.json:
    post:
      description: <<Remove a folder>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "folder_id": {
                  "id": "http://jsonschema.net/folder_id",
                  "type": "integer"
                }
              },
              "required": [
                "apikey",
                "folder_id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "folder_id": 42
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                true
/lists:
  /abuse-reports.json:
    post:
      description: <<Get all email addresses that complained about a campaign sent to a list>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "id": {
                  "id": "http://jsonschema.net/id",
                  "type": "string"
                },
                "start": {
                  "id": "http://jsonschema.net/start",
                  "type": "integer"
                },
                "limit": {
                  "id": "http://jsonschema.net/limit",
                  "type": "integer"
                },
                "since": {
                  "id": "http://jsonschema.net/since",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "id",
                "start",
                "limit",
                "since"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "id": "example id",
              "start": 42,
              "limit": 42,
              "since": "example since"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "total": 42,
                  "data": [
                      {
                          "date": "example date",
                          "email": "example email",
                          "campaign_id": "example campaign_id",
                          "type": "example type"
                      }
                  ]
                }
  /activity.json:
    post:
      description: <<Access up to the previous 180 days of daily detailed aggregated activity stats for a given list. Does not include AutoResponder activity.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "id": {
                  "id": "http://jsonschema.net/id",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "id": "example id"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                [
                  "..."
                ]
  /batch-subscribe.json:
    post:
      description: <<Subscribe a batch of email addresses to a list at once. If you are using a serialized version of the API, we strongly suggest that you only run this method as a POST request, and not a GET request. Maximum batch sizes vary based on the amount of data in each record, though you should cap them at 5k - 10k records, depending on your experience. These calls are also long, so be sure you increase your timeout values.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "id": {
                  "id": "http://jsonschema.net/id",
                  "type": "string"
                },
                "batch": {
                  "id": "http://jsonschema.net/batch",
                  "type": "array",
                  "items": {
                    "id": "http://jsonschema.net/batch/0",
                    "type": "object",
                    "properties": {
                      "email": {
                        "id": "http://jsonschema.net/batch/0/email",
                        "type": "object",
                        "properties": {
                          "email": {
                            "id": "http://jsonschema.net/batch/0/email/email",
                            "type": "string"
                          },
                          "euid": {
                            "id": "http://jsonschema.net/batch/0/email/euid",
                            "type": "string"
                          },
                          "leid": {
                            "id": "http://jsonschema.net/batch/0/email/leid",
                            "type": "string"
                          }
                        }
                      },
                      "email_type": {
                        "id": "http://jsonschema.net/batch/0/email_type",
                        "type": "string"
                      },
                      "merge_vars": {
                        "id": "http://jsonschema.net/batch/0/merge_vars",
                        "type": "object",
                        "properties": {
                          "...": {
                            "id": "http://jsonschema.net/batch/0/merge_vars/...",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "double_optin": {
                  "id": "http://jsonschema.net/double_optin",
                  "type": "boolean"
                },
                "update_existing": {
                  "id": "http://jsonschema.net/update_existing",
                  "type": "boolean"
                },
                "replace_interests": {
                  "id": "http://jsonschema.net/replace_interests",
                  "type": "boolean"
                }
              },
              "required": [
                "apikey",
                "id",
                "batch",
                "double_optin",
                "update_existing",
                "replace_interests"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "id": "example id",
              "batch": [
                  {
                      "email": {
                          "email": "example email",
                          "euid": "example euid",
                          "leid": "example leid"
                      },
                      "email_type": "example email_type",
                      "merge_vars": {
                          "...": "..."
                      }
                  }
              ],
              "double_optin": true,
              "update_existing": true,
              "replace_interests": true
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "add_count": 42,
                  "adds": [
                      {
                          "email": "example email",
                          "euid": "example euid",
                          "leid": "example leid"
                      }
                  ],
                  "update_count": 42,
                  "updates": [
                      {
                          "email": "example email",
                          "euid": "example euid",
                          "leid": "example leid"
                      }
                  ],
                  "error_count": 42,
                  "errors": [
                      {
                          "email": {
                              "email": "example email",
                              "euid": "example euid",
                              "leid": "example leid"
                          },
                          "code": 42,
                          "error": "example error",
                          "row": {
                              "...": "..."
                          }
                      }
                  ]
                }
  /batch-unsubscribe.json:
    post:
      description: <<Unsubscribe a batch of email addresses from a list>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "id": {
                  "id": "http://jsonschema.net/id",
                  "type": "string"
                },
                "batch": {
                  "id": "http://jsonschema.net/batch",
                  "type": "array",
                  "items": {
                    "id": "http://jsonschema.net/batch/0",
                    "type": "object",
                    "properties": {
                      "email": {
                        "id": "http://jsonschema.net/batch/0/email",
                        "type": "object",
                        "properties": {
                          "email": {
                            "id": "http://jsonschema.net/batch/0/email/email",
                            "type": "string"
                          },
                          "euid": {
                            "id": "http://jsonschema.net/batch/0/email/euid",
                            "type": "string"
                          },
                          "leid": {
                            "id": "http://jsonschema.net/batch/0/email/leid",
                            "type": "string"
                          }
                        }
                      },
                      "email_type": {
                        "id": "http://jsonschema.net/batch/0/email_type",
                        "type": "string"
                      },
                      "merge_vars": {
                        "id": "http://jsonschema.net/batch/0/merge_vars",
                        "type": "object",
                        "properties": {
                          "...": {
                            "id": "http://jsonschema.net/batch/0/merge_vars/...",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "double_optin": {
                  "id": "http://jsonschema.net/double_optin",
                  "type": "boolean"
                },
                "update_existing": {
                  "id": "http://jsonschema.net/update_existing",
                  "type": "boolean"
                },
                "replace_interests": {
                  "id": "http://jsonschema.net/replace_interests",
                  "type": "boolean"
                }
              },
              "required": [
                "apikey",
                "id",
                "batch",
                "double_optin",
                "update_existing",
                "replace_interests"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "id": "example id",
              "batch": [
                  {
                      "email": "example email",
                      "euid": "example euid",
                      "leid": "example leid"
                  }
              ],
              "delete_member": true,
              "send_goodbye": true,
              "send_notify": true
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                [
                  {
                      "success_count": 42,
                      "error_count": 42,
                      "errors": [
                          {
                              "email": {
                                  "email": "example email",
                                  "euid": "example euid",
                                  "leid": "example leid"
                              },
                              "code": 42,
                              "error": "example error"
                          }
                      ]
                  }
                ]
  /clients.json:
    post:
      description: <<Retrieve the clients that the list's subscribers have been tagged as being used based on user agents seen. Made possible by user-agent-string.info:- http://user-agent-string.info/>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "id": {
                  "id": "http://jsonschema.net/id",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "id": "example id"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "desktop": {
                      "penetration": 3.14159,
                      "clients": [
                          {
                              "client": "example client",
                              "icon": "example icon",
                              "percent": "example percent",
                              "members": "example members"
                          }
                      ]
                  },
                  "mobile": {
                      "penetration": 3.14159,
                      "clients": [
                          {
                              "client": "example client",
                              "icon": "example icon",
                              "percent": "example percent",
                              "members": "example members"
                          }
                      ]
                  }
                }
  /growth-history.json:
    post:
      description: <<Access the Growth History by Month in aggregate or for a given list.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "id": {
                  "id": "http://jsonschema.net/id",
                  "type": "string"
                }
              },
              "required": [
                "apikey",
                "id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "id": "example id"
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                [
                  {
                      "month": "example month",
                      "existing": 42,
                      "imports": 42,
                      "optins": 42
                  }
                ]
  /interest-group-add.json:
    post:
      description: <<Add a single Interest Group - if interest groups for the List are not yet enabled, adding the first group will automatically turn them on.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "id": {
                  "id": "http://jsonschema.net/id",
                  "type": "string"
                },
                "group_name": {
                  "id": "http://jsonschema.net/group_name",
                  "type": "string"
                },
                "grouping_id": {
                  "id": "http://jsonschema.net/grouping_id",
                  "type": "integer"
                }
              },
              "required": [
                "apikey",
                "id",
                "group_name",
                "grouping_id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "id": "example id",
              "group_name": "example group_name",
              "grouping_id": 42
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /interest-group-del.json:
    post:
      description: <<Delete a single Interest Group - if the last group for a list is deleted, this will also turn groups for the list off.>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "id": {
                  "id": "http://jsonschema.net/id",
                  "type": "string"
                },
                "group_name": {
                  "id": "http://jsonschema.net/group_name",
                  "type": "string"
                },
                "grouping_id": {
                  "id": "http://jsonschema.net/grouping_id",
                  "type": "integer"
                }
              },
              "required": [
                "apikey",
                "id",
                "group_name",
                "grouping_id"
              ]
            }
          example: |
            {
              "apikey": "example apikey",
              "id": "example id",
              "group_name": "example group_name",
              "grouping_id": 42
            }
      responses:
        "200":
          body:
            application/json:
              example: |
                {
                  "complete": true
                }
  /interest-grouping-update.json:
    post:
      description: <<Update an existing Interest Grouping>>
      body:
        application/json:
          schema: |
            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net",
              "type": "object",
              "properties": {
                "apikey": {
                  "id": "http://jsonschema.net/apikey",
                  "type": "string"
                },
                "grouping_id": {
                  "id": "http://jsonschema.net/grouping_id",
                  "type": "integer"
                },
                "name": {
                  "id": "http://jsonschema.net/name",
                  "type": "string"
                },
                "value": {
[...]
